<div class="panel panel-success" *ngFor="let mi of menuItems">

        <div class="panel-heading">
            <h3 class="panel-title">{{ mi.name }}</h3>
        </div>

        <div class="panel-body">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-6">
                        <img [src]="mi.photoPath" class="image img-responsive">
                    </div>

                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-4">
                                Name
                            </div>
                            <div class="col-xs-8">
                                : {{ mi.name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                Price
                            </div>
                            <div class="col-xs-8">
                                : {{ mi.price }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <hr>
                                <label for="qty">Qty: </label>
                                <input #myInput id="qty" type="number" min="1" max="20" value="1"
                                    class="inputnumber" /><br>

                                <a (click)="addCartData(mi.id, +myInput.value)">Add to the cart</a><br>
                                <span id="result"></span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <a class="glyphicon glyphicon-screenshot" (click)="clearCartData()"></a>
        </div>

</div>

<!-- <h3>{{ mi.price }}</h3>
<img [src]="mi.photoPath" alt="">    -->