<div class="container">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav navbar-left">
            <li>
                <a routerLink='list' class="glyphicon glyphicon-cutlery"></a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="ifLogin()">
                <a (click)='logOut()'>Logout</a>
            </li>
            <li *ngIf="!ifLogin()">
                <a routerLink='/'>Login</a>
            </li>
            <li>
                <a routerLink='list'>Menu Items</a>
            </li>
            <li>
                <a routerLink='cart' class="glyphicon glyphicon-shopping-cart"></a>
            </li>

        </ul>
    </nav>  

    <router-outlet></router-outlet>
</div>  